@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 10px;
  color: rgb(241, 241, 241);
  border-radius: 7px;
  margin: 10px 10px 0 10px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 1px;
}

/* ******************************************** */

.box {
  width: 80%;
  margin: 1.5rem auto;
}

.user {
  margin-right: 2rem;
}

.user,
.computer {
  width: 250px;
  height: 200px;
  border-radius: 12px;
  background: #551769;
  color: #f6ff61;
}

.user > h2,
.computer > h2 {
  padding: 0.8rem;
  background: #390347;
  color: #f6ff61;
  font-weight: 100;
  letter-spacing: 1px;
  border-radius: 8px;
}

#playerRun,
#computerRuns {
  font-size: 6.5rem;
}

/* ******************************************************** */

.UserRuns {
  width: 70%;
  margin: 1.5rem auto;
  justify-content: center;
}

.row2 {
  flex-wrap: wrap;
}

.runs {
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  font-size: 4rem;
  width: 100px;
  padding: 12px;
  margin-right: 1rem;
}

.runs:last-child {
  margin-right: 0;
}

.runs:hover {
  color: #ffee00;
}

/* ****************************************************/

.stats {
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem;
  flex-wrap: wrap;
  border-radius: 7px;
  color: rgb(241, 241, 241);
}

.span {
  width: 120px;
  height: 50px;
  border: 2px solid;
  border-radius: 5px;
  margin-left: 1rem;
}

.total {
  margin-bottom: 1rem;
  width: 350px;
  margin: 0.5rem 0;
}

.msg {
  color: red;
  font-family: "Zen Antique Soft", serif;
  display: none;
}

.fours {
  margin-left: 1.3rem !important;
}

.sixes {
  margin-left: 0.6rem !important;
}

/* ***************************************************** */

.btn {
  background-clip: padding-box;
  background-color: #fa0000;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.25;
  min-height: 3rem;
  padding: 0.7rem 2.2rem !important;
  transition: all 250ms;
  width: 18.5rem;
  border: none;
}

.btn:hover {
  transform: translateY(-2px);
  color: #fff;
  box-shadow: 5px 5px 1px -0.125em rgb(10 10 10), 0 0 0 1px rgb(10 10 10 / 0%);
}

/* **** Responsive CSS **** */

@media (max-width: 633px) {
  .row1 {
    flex-direction: column;
  }

  .user {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
