@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(218 , 245 , 255);
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
}

#activity,
#explore {
  width: 30px;
}

.navbar {
  width: 72%;
  margin: 0.5rem auto;
  background-color: #fff;
  display: flex;
  margin: 0 5px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(209 213 219) 0px 0px 0px 1px inset;
}

.logo {
  margin-left: 1rem;
  height: 72px;
}

img {
  cursor: pointer;
}

.box {
  width: 215px;
  justify-content: center;
}

.icons {
  justify-content: flex-end;
  flex: 1 0 auto;
}

.explore {
  margin-right: 1rem;
}

input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

#profile-pic {
  width: 32px;
  border-radius: 50%;
  margin: 0 10px 0 12px;
}

/* * Instagram logo color : 

/* *********************************************************************************************************************** */

.container {
  height: 129px;
  width: 614px;
  scroll-behavior: smooth;
  position: absolute;
  top: 5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 10px;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column-gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
}

.story {
  width: 80px;
  height: 100px;
  flex-direction: column;
}

.story:first-child {
  margin-left: 9px;
}

.image {
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  padding: 3px;
  position: relative;
  margin: 3px 0 0 3px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.story_Username {
  position: relative;
  top: 7px;
}

.insta_id > span {
  font-family: "Nunito", sans-serif;
}

.insta_id > span:hover {
  transform: scale(1.5);
  background-color: #fff;
}

/* ************************************************************************************************************************ */

.img {
  position: relative;
}

.user_story {
  width: 88px;
  height: 7.1rem;
  margin: 5px 0 0 6px;
  display: flex;
  scroll-behavior: smooth;
}

.user_story #myProfilePic {
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: 3px;
  transition: 500ms;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* * Instagrm Post :  */

.Insta-image-post {
  position: relative;
  top: 7rem;
  margin-left: 11.5rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;   
  width: 614px;
  height: 1200px;
  font-family: "Nunito", sans-serif;
}

.top {
  display: flex;
}

.top-left {
  height: 90px;
  width: 100px;
}

.top-left-story > img {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 50%;
}

.middle-username {
  width: 450px;
  display: flex;
  justify-content: center;
}

.right-elipsis {
  width: 70px;
  height: 90px;
}

.middle-image > img {
  max-width: 100%;
}

.fa-ellipsis-h {
  cursor: pointer;
}

/* ******************************************************************************************************************** */

.FA_icons {
  justify-content: space-between;
  margin: 10px 16px;
}

.FA_icons .far,
.fas {
  font-size: 1.9rem;
}

.fa-heart {
  color: rgb(255, 0, 119);
  margin-right: 10px;
}

.fa-comment {
  color: blue;
  margin-right: 10px;
}

.fa-heart-broken {
  color: #ff0000;
}

.yes {
  color: red;
}

.no {
  color: black;
}

.fa-bookmark {
  color: #5d1896;
}

.likes_and_dislikes {
  display: flex;
  align-items: center;
}

.like-by,
.dislike-by {
  margin: 14px 0 14px 15px;
}

.like-by {
  color: rgb(255, 0, 119);
  font-weight: bold;
}

.dislike-by {
  color: black;
  font-weight: bold;
}

.caption {
  margin-left: 15px;
}

.caption-username {
  margin-right: 6px;
}

.main-caption {
  font-weight: normal;
}

/* ********************************** View all 50 comments ************************************** */

.comments-heading {
  margin: 5px 0 0 14px;
}

.comments-heading > span {
  color: rgba(0, 0, 0, 0.68);
}

/* *************************************** Comments *********************************************** */

.comment1,
.comment2 {
  display: flex;
  margin: 10px 0 0 14px;
}

/* ***********************************   5 HOURS AGO  ********************************************* */

.comment-time {
  margin: 7px 0 0 15px;
}

.time {
  font-size: 12px;
}

/* ************************************** EMOJI AND COMMENTS BOX ****************************************** */

textarea {
  resize: none;
  padding: 12px;
  outline-color: #5d1896;
  font-size: 17px;
  border-color: rgba(0, 0, 0, 0.33);
  border-radius: 3px;
}

.far {
  font-size: 1.9rem;
}

.comments-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.emoji {
  margin-right: 10px;
  display: flex;
}

.textArea {
  display: flex;
}

/* ******************************************************************************************************************** */

.info-div {
  position: fixed;
  top: 114px;
  left: 817.5px;
  width: 323px;
  height: 414px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.user_info {
  display: flex;
  height: 90px;
}

.user_info,
.switch {
  align-items: center;
}

.names {
  width: 150px;
  height: 88px;
  flex-direction: column;
}

.names,
.switch {
  display: flex;
  justify-content: center;
}

.user-Name > span,
.switch > span {
  font-weight: bold;
}

.real-Name {
  margin-top: 2px;
}

.real-Name > span {
  color: rgba(0, 0, 0, 0.678);
}

.switch {
  width: 78px;
  height: 88px;
}

.switch > span {
  color: #0095f6;
}

/* ***************************************************************************** */

.suggestions {
  justify-content: space-between;
  margin: 10px;
}

.suggestions_for_you > span {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.678);
}

.see_all {
  font-size: 14px;
}

/* ***************************************************************** */

#prachiDesaipic,
.story_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.new_accounts {
  display: flex;
  height: 70px;
}

.story_of_new_accounts {
  margin: 0px 15px 0 10px;
}

.extra {
  height: auto;
  width: 200px;
}

.names + .extra {
  position: absolute;
  top: 15rem;
}

.follow {
  width: 81px;
}

.follow > span {
  color: #0095f6;
  font-weight: bold;
}

.new2I {
  font-size: 13px;
}